form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 2rem;
}

.logintitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-top: 2rem;
}

.label .email .pwd {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}

imput .email .pwd {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
}